@font-face {
    font-family: 'Poppins';
    src: url('./assets/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }